/* Set display property of body to flex */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  *{
    font-family: poppins;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e66102;
    color: #1F2937;
  }
  
  /* Left links in Header */
  .header .left-links {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 24px;
    font-weight: bold;
  }
  
  /* Right links in Header */
  .header .right-links {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 16px;
  }
  
  /* Style for each link in Header */
  .header a {
    text-decoration: none;
    color: #1F2937;;
    padding: 5px;
    margin-right: 10px;
  }
  
  .header a:hover{
    color:#F9FAF8;
    transition: all ease 0.3s;
}

  /* Container 1 */
  .container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1F2937;
    color: #F9FAF8;
  }
  
  /* Left side of Container 1 */
  .container1 .left {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  /* Right side of Container 1 */
  .container1 .right {
    display: flex;
    justify-content: flex-end;
    margin-left: 20px;
  }
  
  .container1 .right img {
    height: 200px;
    width: 350px;
    border: 1px solid #e66102;
    border-radius: 10px;
  }

  /* Sign Up Button */
.singup {
    max-width: 280px;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 12px;
    border-radius: 14px;
    background-color:#F9FAF8;
    color:  #1F2937;
    border: none;
    cursor: pointer;
    border: 1.5px solid #e66102;
  }

  .singup:hover {
    background-color: #e66102;
    color: #F9FAF8;
    transition: all ease 0.3s;
  }

  /* Container 2 */
  .container2 {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #F9FAF8;
  }
  
  /* Each Info inside Container 2 */
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1F2937;
  }
  
.title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    gap: 20px;
    padding-top: 20px;
    background-color: #F9FAF8;
    color: #1F2937;
  }

  /* Info Image */
.container2 .info img {
    margin-right: 20px;
    border: 2px solid #e66102;
    height: 200px;
    width: 200px;
    border-radius: 10px;
  }

  /* Container 3 */
  .container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 20px;
    font-style: italic;
  }

  /* Footer */
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #e66102;
    color: #1F2937;
  }